In [5]:
import pandas as pd

In [7]:
data = pd.read_html("https://www.fdic.gov/Bank/individual/failed/banklist.html")

We get back a list of all the table elements on this website, guessing that our table is the first one we call data[0]

In [8]:
df = data[0]

In [10]:
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"

In [11]:
df.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'],
      dtype='object')

In [ ]:
How many states have failed banks

In [13]:
df["ST"].nunique()

44

In [ ]:
Which ones

In [12]:
df["ST"].unique()

array(['WV', 'NE', 'NJ', 'OH', 'KY', 'TX', 'IL', 'KS', 'WI', 'LA', 'UT',
       'AR', 'GA', 'PA', 'TN', 'WA', 'CO', 'PR', 'FL', 'MN', 'CA', 'MD',
       'OK', 'SC', 'VA', 'ID', 'CT', 'AZ', 'NV', 'NC', 'MO', 'AL', 'MI',
       'IN', 'IA', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'NH', 'HI'],
      dtype=object)

Top 5 states with small banks (loc doesn't work as we no index to use so we must use positional index, i.e iloc)

In [20]:
df.groupby("ST").count().sort_values('Bank Name',ascending=False).iloc[:5]['Bank Name']

ST
GA    93
FL    75
IL    69
CA    41
MN    23
Name: Bank Name, dtype: int64

In [ ]:
Top 5 Acquiring institutions

In [23]:
df['Acquiring Institution'].value_counts().iloc[:5]

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

In [ ]:
How many banks have closed in 2020

In [24]:
sum(df['Closing Date'].apply(lambda date: date[-2:]) == '20')

2